.app {
    width: 100%;
    overflow-x: hidden;
    display: flex;
}

.main_content {
    background-color: #f4f4f4;
}

.dashboard-content {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.stat-item {
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 30%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.stat-item p {
    margin: 0;
    font-size: 14px;
    color: #333;
}

.stat-item h3 {
    margin: 10px 0;
    font-size: 24px;
    color: #333;
}

.charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.chart-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 48%;
    margin-bottom: 20px;
}

.chart-item h3 {
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
}